<div class="container-fluid">
    <div class="row kolom_hiji">
                    
  <%= image_tag(asset_path('l1.svg'), :class => "z_gambar") %>

        <div class="col-lg-1"></div>
        <div class="col-lg-5 kahandap_saetik">
            <div class= "w-75 kata_persuasif ketengahan_atuh">
                <h1>Apakah <b>Kamu</b> Satu diantara Kami?</h1>
                <br>
                <p>
                    Pada suatu hari disuatu kota terdapat suatu tempat yang dinamakan
                    suatu tempat. Lalu tanpa sengaja suatu orang datang ke suatu tempat untuk
                    melakukan suatu aktifitas yang semua orang tidak mengetahui apa yang dimaksud
                    dengan suatu aktifitas.
                <p>
            </div>
        </div>
        <div class="col-lg-6 kahandap_saetik">
            <div class="ketengahan_atuh">
                    <%= image_tag(asset_path('ilus1.svg'), :onmouseover => "this.src='" + asset_path('ilus2.svg') + "'",  :onmouseout => "this.src='" + asset_path('ilus1.svg') + "'", :class => "kotak_gambar") %>
                    
            </div>
        </div> 

    </div>
    <div class="row kolom_dua">
        <div class="col-lg-12">
            <div class="w-75 ketengahan_atuh">
                    <iframe class="kotak_gambar2" src="http://www.youtube.com/embed/GRonxog5mbw?autoplay=1&showinfo=0&controls=0&loop=1&playlist=GRonxog5mbw" frameborder="0" allowfullscreen></iframe>
            
            </div>
        </div>
    </div>
    <div class="row kolom_tiga">
        <div class="col-lg-12 kahandap_saetik_pisan">
            <div class="row">
                <div class="col-lg-4 row">
                    <div class="col-lg-5">
                        <%= image_tag(asset_path('male-shadow-circle-512.png'), size: "150") %>
                    </div>
                    <div class="col-lg-7">
                        <h4 class="kahandap_saetik_pisan">Bambang</h4>
                        <p>
                            "Bagus.. Mantap.. Super.. debestlah pokoknya.."
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 row">
                    <div class="col-lg-5">
                        <%= image_tag(asset_path('male-shadow-circle-512.png'), size: "150") %>
                    </div>
                    <div class="col-lg-7">
                        <h4 class="kahandap_saetik_pisan">Rudi</h4>
                        <p>
                            "Bagus.. Mantap.. Super.. debestlah pokoknya.."
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 row">
                    <div class="col-lg-5">
                        <%= image_tag(asset_path('male-shadow-circle-512.png'), size: "150") %>
                    </div>
                    <div class="col-lg-7">
                        <h4 class="kahandap_saetik_pisan">Hartono</h4>
                        <p>
                            "Bagus.. Mantap.. Super.. debestlah pokoknya.."
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row kolom_opat">
        <div class="col-lg-1"></div>
        <div class="col-lg-4 kahandap_saetik">
            <div class= "kata_persuasif ketengahan_atuh">
                <h2>Kami akan beri kamu <b>Solusi</b>!</h2>
                <br>
                <p>
                    Beritahu dulu masalah apa saja yang kamu alami disamping, kamu boleh memilih lebih dari satu masalah.
                <p>
            </div>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-6 kahandap_saetik_pisan">
            <div class="kata_persuasif">
                <label class="cekbox"> &nbsp; Apa itu masalah?
                    <input id="ms1" type="checkbox" onchange="bermasalah()">
                    <span class="ceklis"></span>
                </label>
                <label class="cekbox"> &nbsp; Masalah? terdengar lezat..
                    <input id="ms2" type="checkbox" onchange="bermasalah()">
                    <span class="ceklis"></span>
                </label>
                <label class="cekbox"> &nbsp; HaHa.. Aku yang suka bikin masalah!
                    <input id="ms3" type="checkbox" onchange="bermasalah()">
                    <span class="ceklis"></span>
                </label>
                <label class="cekbox">  &nbsp; Pfftt... 
                    <input id="ms4" type="checkbox" onchange="bermasalah()">
                    <span class="ceklis"></span>
                </label>
                <label class="cekbox">  &nbsp; Kamulah masalahku!
                    <input id="ms5" type="checkbox" onchange="bermasalah()">
                    <span class="ceklis"></span>
                </label>

                <div class="button">
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#kirim">Kirim</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row kolom_akhir">
        <div class="col-lg-10 kahandap_saetik">
        </div>
        <div class="col-lg-2 ">
            <%= image_tag(asset_path('pd_bwlogo.svg'), :id => "logopd") %>            
        </div>
    </div>
</div>

<!-- PopUp -->
<div id="kirim" class="modal fade" role="dialog">
    <%= form_for @sub, html: {class: "smart-form", id: "form-update-verify", :autocomplete => "off"} do |f| %>
    <fieldset>
        <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
            <h2 class="modal-title">Ets... Langkah Terakhir</h2><br>
            <p>Kasih tau email kamu, supaya kami bisa ngabarin info keren dan solusinya ya..</p>
            <div class="input-group mb-3">
                <%= f.text_field :email, class: "form-control", placeholder: "email@kamu.com" %>
                <%= f.hidden_field :masalah, value: "00000" %>
                <div class="input-group-append">
                <%= f.submit "Kirim", class: "btn btn-outline-secondary", onclick: "emailku()"%>
                </div>
            </div>
            </div>
        </div>
        </div>
    </fieldset>
    <% end %>
</div>