<!DOCTYPE html>
<html>
  <head>
    <title>Portal Dekave</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    
    <script>
      function bermasalah(){
        var ms1, ms2, m3, ms4, ms5;
        if (document.getElementById('ms1').checked) {
          ms1 = "1";
        } else {
          ms1 = "0";
        }
        if (document.getElementById('ms2').checked) {
          ms2 = "1";
        } else {
          ms2 = "0";
        }
        if (document.getElementById('ms3').checked) {
          ms3 = "1";
        } else {
          ms3 = "0";
        }
        if (document.getElementById('ms4').checked) {
          ms4 = "1";
        } else {
          ms4 = "0";
        }
        if (document.getElementById('ms5').checked) {
          ms5 = "1";
        } else {
          ms5 = "0";
        }
      document.getElementById('sub_masalah').value = ms1 + ms2 + ms3 + ms4 + ms5;
    } 
    </script>
  </body>
</html>